
.nav.navbar-nav li a {
  color: #888;
}
/*
body {
	background: #222!important;
}

div, a, input, select, button, textarea {
	color: #999;
}
*/
.list-group-item.unactive, .list-group-item.unactive:focus, .list-group-item.unactive:hover {
    color: #000;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #222;
}

/*
body {
	text-align: left;
	padding: 0 50px 0 50px;
	background: #222!important;
	border-top: 40px solid #222;
	border-bottom: 40px solid #222;
}

div, a, input, select, button {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #000000;
	background: #d1d1d1;
}

links {
	float: right;
	margin: 20px 0 0 0;
	color: #3B3B3B;
}

code.r{
  font-size: 14px;
  background-color:#d1d1d1
}

pre { 
  background-color:#d1d1d1;
}


pre.r { 
  background-color:#d1d1d1;
}

post.r{ 
  background-color:#d1d1d1;
}

*/